* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    font-family: Lato, sans-serif;
	font-size: 16px;
	background-color: #ffffff;
	color: #555;
}
/*=================================
HEADER
===================================*/
.header {
	min-width: 1020px;
	height: 89px;  /*PP*/
	font-size: 16px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #2d303a; /*PixelPerfect*/
	box-shadow: 0 6px 0 #323746; /*PP*/ /*полоса другого цвета внизу блока*/
}

.main, .logo, .menubar, .site_content, .footer {
	margin-left: auto;
    margin-right: auto;  
}

.main {
	width: 1020px;
	margin-bottom: 6px; /*PP*/
}

/* LOGO */
.logo {
	width: auto;
	float: left;
	padding-left: 40px; /*PP*/
}

.logo h1, .logo h2 {
    font-family: 'Lato', sans-serif;
	font: normal 300%;
	/* margin: 0 0 0 9px; */
	
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
    font-family: 'Lato', sans-serif;
	padding: 22px 0 0 0;
	color: #ffffff;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo_text h2{
    font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	padding: 4px 0 0 0;
	color: #999;
}

.logo_text span{
	color:red;
}

/* MENU */
.menubar {
	width: 500px;
	height: 89px;
	margin-right: 0;
	padding-top: 39px;
	background-color: #2d303a; 
}

.menu {
	width: 500px;
	height: 40px;
	margin:0;
	padding: 0 0 0 80px;
	background-color: #2d303a;  
}

ul.menu {
	float: right; /*прижать элемент к правому краю*/
}

ul.menu li {
	float: left;
	position: relative;
	list-style: none; /*убрать элементы маркированного списка */
	font-family: "Lato-Bold", Lato, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color:#494e62;
}

/*стиль точек маркированного списка в меню*/
 /* ul.menu li:first-child {
	list-style: none; /*убрать первый элемент маркированного списка */
	/*float: left;
	position: relative;
	/* padding: 0 13px 0 27px; */
	/* list-style: none; убрать элементы маркированного списка */
	/* font-family: "Lato-Bold", Lato, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color:#494e62; */
/* }  */

/*стиль уникальных точек в меню*/
/* ul.menu li:not(:first-child)::before {
	list-style: none; /*убрать первый элемент маркированного списка */
	/* position: relative;
	font-family: "Lato-Bold", Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	content:".";
	color: #494e62;} */

/* ul.menu li:not(:first-child)::after {
	list-style: none; /*убрать первый элемент маркированного списка */
	/* position: relative;  */
	/* font-family: "Lato-Bold", Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	content:".";
	color: #494e62;
} */ 

ul.menu li a {
	display: block; /*превратить не блочный элемент в блочный*/
	padding: 0 10px 0 10px;
    font-family: "Lato-Bold", Lato, sans-serif;
    font-size: 100%;
	text-decoration: none;
	color:#ffffff; /*PP*/
}

ul.menu li.selected a {
	padding: 0 10px 0 10px;
	color:#f06c64;
}

ul.menu li a:hover {
	padding: 0 10px 0 10px;
	color: #f06c64;
}

/*===================================
BODY
=====================================*/
.wrapper {
	width: 1020px;
	background-color: red;
}

h1,h2 {
    font-family: 'Lato', sans-serif;
    font: normal 170% ;
	margin:0 0 15px 0;
	padding: 15px 0 5px 0;
    color: #666d89;
    text-decoration: solid;
}

h2 {
	font-size: 140%;
}

p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

ul {
	margin: 2px 0 22px 17px;
}

ul li {
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 16px;
}

.site_content {
    width: 1020px;
	overflow: hidden; /*скрыть контент который выходит за рамки заданного размера*/
	/* margin 20px auto 0 auto; */
	background-color: #f06c64;
}

a, a:hover {
	outline: none;
	text-decoration:  underline;
	color: #f06c64;
}

/* BLOCKS */
.slider_block{
	background-color: #f06c64; /*PP*/
	width: 1020px;
	height: 594px; /*PP*/
	margin-bottom: 6px; /*PP*/
	box-shadow: 0 6px 0 #ea676b; /*PP*/ /*полоса другого цвета внизу блока*/
}

.services_block{
	background-color:#ffffff;
	width: 1020px;
}

/* .content {
	text-align: left;
	width: 1020px;
	padding: 0;
	float: left;
}

.content a{
text-decoration: none;
} */

/*===================================
FOOTER
=====================================*/
/* .footer{
    width: 1020px;
	height: 100px;
	padding: 28px 0 5px 0;
	text-align: center;
	background-color: #2d303a;
	color: #a8aa94;
    min-width: 1020px;
}

.footer p {
	padding: 0 0 10px 0;
} */
